**ANS Ouestion No.1 :=**

**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**
   
    
    
   * ---> "*" --->  This is the expression which is used for multiplication 
   *---> 'hello'--->  'hellow' is the string value.
    
   * --->  -87.8 ---> -87.8 it is the integer value.
   * ---> '-' This is the expression which is used for substraction. 
   * ---> '/' This is the expression which is used for dividation.
   * ---> '+' This is the expression which is used for adding two numbers.
    
   * ---> 6 ---> 6 Is the integer value

--------------------------------------------------------------------------------

**ANS Question No.2** := 

**2. What is the difference between string and variable?**

Variable : A variable is store of information which is used to store the data.

* For Example : a = 122 

String : String is the type of information which is stored in the variable.

* For Example : a = "mahendra"

--------------------------------------------------------------------------------

**ANS Question No.3** :=

**3. Describe three different data types.**
* int : Int is the data type which stored only integer values such as negative positive and zeros that type of values will be contain by this data type. 
   + For example : a = 2 

* Float : Float is the data type stored only decimal values 
  + For example :  a = 2.12 

* Bool : Bool is the boolian data type which gives true or false value 
  if condition becomes true it gives us true if condition is false it gives     us false

--------------------------------------------------------------------------------

**ANS Question No.4**:=

**4. What is an expression made up of? What do all expressions do?**

Expression is made up of with combination of two operands 
when we join two operand using an operator then it form an expression.
  
  *  For Example : a + b it is expression which form by using an "+" operator.

Expressions ares used to find result by combinig operators and operand to produce result.
   
   *  For example : a = 4 + 5 

In the above examples 4 and 5 are the operands and a is the variable which stored the result of this expression.

--------------------------------------------------------------------------------

**ANS Question No.5** :=

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

  * Example spam = 10 
  
  This is the statement.
  
  In the above example spam is variable which holds the data that is 10.
  Spam is variable which is used to hold the data at any momery location.

  * What is expression ? 
    
    The expression is used to form a result by combining operators and operands

    CONCLUSION : When we use this type of statment __ spam = 10__ it is called assingment statement. In this statement we assign a particular value to a particular variable so we can later use it in our program. 

    Expresssion is used that value to perform some basic arithmetic operations. By using those values we can form expression 

    This is the difference between expression and assignment statement.

--------------------------------------------------------------------------------

**ANS Question No.6** :=

**6. After running the following code, what does the variable bacon contain?**

     
  bacon = 22
     
  bacon + 1

  * After running the above code the variable bicon contain 23.

In [1]:
bacon = 22 
bacon + 1

23

--------------------------------------------------------------------------------

**ANS Question No.7** :=

**7. What should the values of the following two terms be?** 

    'spam' + 'spamspam'
   
    'spam' * 3

   OUTPUT : 'spamspamspam' 

   Actually what python doeses it excurte the code that which we write now 
   in the above example the output of both statment will be same but as per the rules of phython it excuted the second statement that is 

   'spam' * 3

   And gives us the output as 
       
      'spamspamspam' 
```

In [2]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

--------------------------------------------------------------------------------

**ANS Question No.8** :=

**8. Why is eggs a valid variable name while 100 is invalid?**

Because in every programmig language we can not start the variable name with integer value.

It should be started with the string value.

--------------------------------------------------------------------------------

**ANS Question No.9**

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

   * int() --> This fuction is used to get the integer value.
   * float() --> This function is used to get the floating point value.
   * input() --> This function is used to get string version of value either you input integer value still it gives us the string value.

--------------------------------------------------------------------------------

**ANS Question no.10**

**10. Why does this expression cause an error? How can you fix it?**
 
    'I have eaten ' + 99 + ' burritos.'

In [3]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

It throw us error because we are trying to concatanate the integer value with the string.

To concatnate the integer value we have to conver the integer value into the string value as follows.

In [7]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

--------------------------------------------------------------------------------